		<div class="<%= "#{note.id}" %>">
	<div class="notewrapper">
					<div class="row-fluid">
				<div class="span12">
					
							
							<!-- Starts the heading (title) -->
							
							<div class="title-font">
							<img src="http://g.etfv.co/<%= "#{note.link}" %>" alt="Google" width="20" height="20" />  &nbsp 

								<%= link_to note.link, :class => "note-title-class" do %>
								<% truncate_link(note) %>
								<% end %>

								<div class="timeago">
								<%= created_at_time note %> 
								</div>
								
							</div>	
							
							<!--  Ends the heading (title) -->
							
										<center>
										<% unless https_link note %>	
										<div class="imagewrapper">														
										<%= page_thumbnail note %>
										</div>
										<% else %>
										<div class="imagewrapper">
										<%= page_placeholder note %>
										</div>
										<% end %>
										</center>

										<script>
										$(".imagewrapper").attr('title', 'Click to visit this website');	
										</script>
				   
				
				<%= render '/shared/removeicon', :note => note %>
				 <%= render '/shared/previewcomment', :note => note %>		
				
					
			</div>
		</div>
	</div>	
</div>