<%= js add_gritter(flash[:notice], :image => :notice, :title => "Pow!", :time => 4000) %>
<%= js extend_gritter(flash[:notice], :position => :bottom_left ) %>



<!-- Start of index page  -->
<div class="row-fluid">	
	<div class="span12">
		<div class="main">
			
		
			
				<!-- Start of form to add a website	-->
				<div class="row-fluid">
					<%= render "form" %>	
				</div>
				<!-- End of form to add a website -->
				<%= render '/shared/websitename' %>	
				<br>

			<!-- Start of search bar -->
					<div class="row-fluid">
							<div class="span6 offset3">
								<div class="searchwrapper">	
								<%= render '/shared/searchform' %>
								</div>
							</div>
					</div>
			<!-- End of search bar -->
			<br>
					
					<!-- Starts note  -->
					<div class="row-fluid">			
							<div class="span12">
								<div class="noterender">
									<% @notes.each do |note| %>				
									<%= render "note", :note => note %>
									<% end %>
								</div>
							</div>
					</div>
					<!-- End note -->
					
					<!-- Start of pagination -->
					<div class="row-fluid">
					<div class="span12">
						<div class="pagination">
							<div class="page">
	    					<%= will_paginate @notes, :container => false, :page_links => false %>
							</div>
						</div>
					</div>
					</div>
					<!-- End of pagination -->
					
					<!-- Start of tagform -->
					
								<div class="row-fluid">
								<div class="span12">
									<div class="tagformwrapper-index">
									
									</div>
								</div>
								</div>
								
					<!-- End of tagform -->
		</div>				
								
					<!-- Start of taglist -->
						<div class="row-fluid">
							<div class="span12">
									<div class="tagindex">
										<%= render "shared/taglist" %>
									</div>
							</div>
						</div>	
						<!-- End of taglist -->
			
		
				
		
	</div>
</div>	
<!-- End of index page 	 -->