<div class="row-fluid">
<div class="header">
	
	<div class="row-fluid">

		<% if user_signed_in? %>
		  Hello! <%= current_user.email %>
		  <%= link_to 'Edit profile', edit_user_registration_path %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %> |
		  <%= link_to "Login", new_user_session_path %>
		<% end %>

	</div>

</div>	
</div>



<p class="notice"><%= notice %></p>	




<div class="row-fluid">
	<div class="span10 offset1">
		<div class="main">	
			<div class="span6 offset3">
			<div class="pagetitle">
			ihasbookmarks.com
			</div>
			</div>
	
			<div class="row-fluid">
			<%= render "form" %>	
			</div>		
			

<% current_user.notes.reverse.first(5).each do |note| %>
					
<div class="fullwrapper">			
			<div class="row-fluid">							
			<div class="span3">	
				
				
				<center>
				<div class="imagewrapper">													
<%= link_to image_tag("http://immediatenet.com/t/l?Size=1024x768&URL=#{note.link}"), "#{note.link}" %>
				</div>
				</center>
						<script>
						$(".imagewrapper").attr('title', 'Click to visit this website');	
						</script>	
			</div> 
		

			<div class="span9">
				
				<div class="titleandcomment">
				
				<div class="titlewrapper">			
					<%= link_to note, :method => :delete do %>
				  	<i class="icon-remove"></i>
					<% end %>
				
					
				<div class="title">
					
						<% agent=Mechanize.new %>
						<% agent.get("#{note.link}") %> 
						<%= agent.page.title %>
				
					
<div class="detailslink">
<%= link_to "More..", note_path(note) %>
</div>
				</div>
				
				</div>
					
				<div class="comment">	

<% note.comments.each do |comment| %>
<div class="commentfont">
<%= simple_format comment.text %>
<div class="timeago">
<%= time_ago_in_words(comment.created_at) %> ago					
</div>
</div>
<% end %>


<div class="commentformwrapper">
	
<%= form_for [note, note.comments.build] do |f| %>
<%= f.text_area :text, :class => 'commentform' %>
<%= f.submit "New Note", :class => 'commentsubmit' %>
<% end %>
</div>

<script>
$(document).ready(function()
{
	// Match all <A/> links with a title tag and use it as the content (default).
	$('a[title]').qtip();
});
</script>
	
<div class="commentbar">
	<div class="twitterbottombar">
		<a href="https://twitter.com/share?url=https%3A%2F%2F&amp;via=ihasbookmarks&amp;text=<%="Here's a link to:" " " "#{note.link}" %>" class="twitter-share-button">Tweet Link</a>
	</div>	
	<div class="timeagobottombar">
	Bookmark added on: <%= note.created_at.strftime('%x') %> 					
	</div>	
</div>	
				</div>
				
				
		
			</div>

		</div>			
	</div>
</div>	

<% end %>	
		
		</div>	
	</div>		
</div>	

<div class="row-fluid">
<div class="footer">
Made by this guy: <br>
<a href="https://twitter.com/GaryRiger" class="twitter-follow-button" data-show-count="false">Follow @GaryRiger</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 	
<br><br>
<%= link_to "What is ihasbookmarks.com", about_path %>	
</div>	
</div>

			