<div class="row-fluid">
<div class="span10 offset1">	
	<div class="topbackground">		
	</div>
</div>	
</div>	


<div class="row-fluid">
	<div class="span10 offset1">
		<div class="main">	
			<div class="span4 offset4">
			<div class="pagetitle">
			Web Notes 
			</div>
			</div>

	
			<div class="row-fluid">
			<%= render "form" %>	
			</div>		
			

<% @notes.reverse.first(5).each do |note| %>					
<div class="fullwrapper">			
			<div class="row-fluid">							
			<div class="span3">	
				<center>
				<div class="imagewrapper">												
<%= link_to image_tag("http://immediatenet.com/t/l?Size=1024x768&URL=#{note.link}"), "#{note.link}" %>
				</div>
				</center>
			</div> 
			
			<div class="span9">
				<div class="titleandcomment">
				
				<div class="titlewrapper">
				<div class="title">
<%= note.created_at.strftime("%a %b %e") %>	
<%= best_in_place note, :title, :nil => "Click here to edit title" %>
				</div>
				</div>
				
				<div class="comment">
						
<%= best_in_place note, :comment, :nil => "Add a note", :html_attrs => {:class => 'titletextarea'} %>
							
				</div>
				
				</div>	
			</div>
					
			</div>
</div>	

<% end %>	
		
		</div>	
	</div>		
</div>					