<p class="notice"><%= notice %></p>	
<%= link_to quickview_path, "quickview" %>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="main">	
			<div class="span6 offset3">
			<div class="pagetitle">
			ihasbookmarks.com
			</div>
			</div>
	
			<div class="row-fluid">
			<%= render "form" %>	
			</div>		
			

<% current_user.notes.reverse.first(5).each do |note| %>
					
<div class="fullwrapper">			
			<div class="row-fluid">							
			<div class="span3">	
				
				
				<center>
				<% unless note.link.match (/https:/) %>	
				<div class="imagewrapper">														
<%= link_to image_tag("http://immediatenet.com/t/l?Size=1024x768&URL=#{note.link}"), "#{note.link}" %>
				</div>
				<% else %>
				<div class="imagewrapper">	
<%= link_to image_tag("http://placehold.it/200x150/232C3B/&text=#{note.link}"), "#{note.link}" %>
				</div>
				<% end %>
				</center>
				
						<script>
						$(".imagewrapper").attr('title', 'Click to visit this website');	
						</script>	
			</div> 
		

			<div class="span9">
				
				<div class="titleandcomment">
				
				
				<div class="titlewrapper">		
					<div class="icon-removewrapper">	
					<%= link_to note, :method => :delete do %>
				  	<i class="icon-remove"></i>
					<% end %>
					</div>
				
					
				<div class="title">
						<% unless note.link.match (/https:/) %> 
						<% agent = Mechanize.new %>
						<% agent.get("#{note.link}") %> 
				
						<img src="http://g.etfv.co/<%= "#{note.link}" %>" alt="Google" width="20" height="20" />
						<%= agent.page.title %>
						<% else %>
						<img src="http://g.etfv.co/<%= "#{note.link}" %>" alt="Google" width="20" height="20" />
						<%= best_in_place note, :title, :nil => "#{note.link}" %>
						<% end %>
					
			         
				
			
				
					
<div class="detailslink">
<%= link_to "More..", note_path(note) %>
</div>
				</div>
				
				</div>
					
				<div class="comment">					

<% note.comments.each do |comment| %>
<div class="commentfont">
<%= simple_format comment.text %>


<div class="timeago">
<%= time_ago_in_words(comment.created_at) %> ago					
</div>
</div>
<% end %>


<div class="commentformwrapper">
	
	
<%= form_for [note, note.comments.build] do |f| %>
<%= f.text_area :text, :class => 'commentform' %>
<%= f.submit "New Note", :class => 'commentsubmit' %>
<% end %>
</div>


<script>
$(document).ready(function()
{
	// Match all <A/> links with a title tag and use it as the content (default).
	$('a[title]').qtip();
});
</script>
	
<div class="commentbar">
	<div class="twitterbottombar">
		<a href="https://twitter.com/share?url=https%3A%2F%2F&amp;via=ihasbookmarks&amp;text=<%="Here's a link to:" " " "#{note.link}" %>" class="twitter-share-button">Tweet Link</a>
	</div>	
	<div class="timeagobottombar">
	Bookmark added on: <%= note.created_at.strftime('%x') %> 					
	</div>	
</div>	
				</div>
				
				
		
			</div>

		</div>			
	</div>
</div>	

<% end %>	
		
		</div>	
	</div>		
</div>	

<div class="row-fluid">
<div class="footer">
Made by this guy: <br>
<a href="https://twitter.com/GaryRiger" class="twitter-follow-button" data-show-count="false">Follow @GaryRiger</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 	
<br><br>
<%= link_to "What is ihasbookmarks.com", about_path %>	
</div>	
</div>

			