<%= js add_gritter(flash[:notice], :image => :notice, :title => "Sweet!", :time => 4000 ) %>
<%= js extend_gritter(flash[:notice], :position => :bottom_left ) %>

<%= render '/shared/websitename' %>
	
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="main">	
	
			<div class="row-fluid">
			<%= render "form" %>	
			</div>		
				
					<div class="span7">
			
					<div class="row-fluid">
					<div class="span12">	
						
					<div class="span12">
					<div class="searchwrapper">	
				<%= render '/shared/searchform' %>
					</div>
					</div>
						
					</div>	
					</div>
			

<div class="noterender">		
<%= render "note", :note => @note %>
</div>

			</div>

<div class="row-fluid">
	<div class="span7">
<%= render "/shared/sidebar" %>
	</div>
</div>
					
			<div class="span12">
				<div class="pagination">
					<div class="page">
				    <%= will_paginate @notes, :container => false, :page_links => false %>
					</div>
				</div>
			</div>
		
		</div>	
	</div>


</div>	
